<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovetotravel.travel.mapper.ProductBuyMapper">
    <select id="getNewProductNum" resultType="com.lovetotravel.travel.entity.vo.NewNum">
        SELECT DATE_FORMAT(create_time, "%Y-%m-%d") AS time, COUNT(*) AS total
        FROM product_buy
        WHERE create_time
         &lt; now()
          AND
            create_time
            > date_sub(now()
            , interval 7 day)
          AND paystate=1
        GROUP BY DATE_FORMAT(create_time, "%Y-%m-%d")
        ORDER BY create_time
                DESC
    </select>

    <select id="getNewProductBuyNum" resultType="com.lovetotravel.travel.entity.vo.NewNum">
        SELECT DATE_FORMAT(create_time, "%Y-%m-%d") AS time, COUNT(*) AS total,SUM(cost) AS cost
        FROM product_buy
        WHERE create_time
         &lt; now()
          AND
            create_time
            > date_sub(now()
            , interval 7 day)
          AND paystate=1
        GROUP BY DATE_FORMAT(create_time, "%Y-%m-%d")
        ORDER BY create_time
                DESC
    </select>

    <select id="getCost" resultType="com.lovetotravel.travel.entity.vo.NewNum">
        SELECT SUM(cost) AS cost
        FROM product_buy
        WHERE paystate = 1
    </select>

    <select id="getBuyInfo" resultType="com.lovetotravel.travel.entity.vo.product.ProductShowVo">
        SELECT pb.id,
               pb.product_id,
               pb.user_id,
               pb.create_time,
               pb.pay_time,
               pb.paystate,
               pb.cost,
               pb.status,
               p.introduction,
               p.name,
               p.plan_id,
               p.tele,
               p.url
        FROM product_buy pb,
             product p
        WHERE pb.product_id = p.id
          AND pb.user_id = #{id}
    </select>
    <select id="getOrder" resultType="com.lovetotravel.travel.entity.vo.product.ProductSales">
        SELECT product_id as id, count(*) as value
        FROM product_buy
        GROUP BY product_id
        ORDER BY value DESC
    </select>

    <select id="getSales" resultType="com.lovetotravel.travel.entity.vo.product.ProductSales">
        SELECT product_id as id, count(*) as value
        FROM product_buy
        WHERE paystate=1
        GROUP BY product_id
        ORDER BY value DESC
    </select>


</mapper>